.titular{
    color: blue;
    text-shadow: 5px 5px 10px black
}

.subtitulo{
    text-shadow: 6px 2px 10px rgb(184, 110, 19);
}

.subtitulo2{
    text-shadow: 5px 4px 10px   rgb(10, 100, 103);
}

.item{
    margin: 20px;
    background-color: aquamarine;
    border-radius: 20px;
}
.item h3{
    
    margin-left: 30px;}

.item p{
    margin-left: 20px;
    background-color: azure;
    border-radius: 40px;
    display: inline-block;
}